@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">SportsPro Technical Support</h1>
    <h2>Sport management softeare for the sports enthusiast</h2>
</div>
<br />
<div class"pt-3">
    <h2>-Comp2139-Assignment1-</h2>
   <h2 class="font-weight-bold">-GBCSporting_Team_Amigos - </h2>
       <br />
       <div>
           <h5>Ebrahim Safdari - 101326518</h5>
               <p> Ebrahim.Safdari@georgebrown.ca</p>
           <h5>Safa Aru - 101331910</h5>
                <p> Safa.Aru@georgebrown.ca</p>
           <h5>Elham Veisouei - 101277407</h5>
                <p> Elham.Veisouei@georgebrown.ca</p>
           <h5>Hakan Inel - 101213098</h5>
                <p> Hakan.Inel@georgebrown.ca</p>
       </div>
</div>


